<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--metatextblock--><title>Mobile app extended</title>
    <meta name="description"
          content="An extended landing page for web application">
    <meta property="og:url"
          content="http://project3924895.tilda.ws/page18588741.html">
    <meta property="og:title" content="Mobile app extended">
    <meta property="og:description"
          content="An extended landing page for web application">
    <meta property="og:type" content="website">
    <meta property="og:image"
          content="https://static.tildacdn.com/dc997f68-3eb4-4618-af36-0ccf342474a9/-/resize/504x/whiteback.jpg">
    <link rel="canonical" href="page18588741.html"><!--/metatextblock-->
    <meta property="fb:app_id" content="257953674358265">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="dns-prefetch" href="index-1.htm">
    <link rel="shortcut icon" href="../static/img/tildafavicon.ico" type="image/x-icon">
    <!-- Assets -->
    <link rel="stylesheet" href="../static/css/tilda-grid-3.0.min.css" type="text/css"
          media="all">
    <link rel="stylesheet" href="../static/tilda-blocks-2.14.css?t=1617885332"
          type="text/css" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="../static/css2.css?family=Roboto:wght@300;400;500;700&subset=latin,cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/tilda-animation-1.0.min.css"
          type="text/css" media="all">
    <link rel="stylesheet" href="../static/css/tilda-menusub-1.0.min.css" type="text/css"
          media="print" onload="this.media='all';">
    <noscript>
        <link rel="stylesheet" href="../static/css/tilda-menusub-1.0.min.css"
              type="text/css" media="all">
    </noscript>
    <link rel="stylesheet" href="../static/css/tilda-cover-1.0.min.css" type="text/css"
          media="all">
    <script src="../static/js/jquery-1.10.2.min.js"></script>
    <script src="../static/js/tilda-scripts-3.0.min.js"></script>
    <script src="../static/tilda-blocks-2.7.js?t=1617885332"></script>
    <script src="../static/js/lazyload-1.3.min.js" charset="utf-8" async=""></script>
    <script src="../static/js/tilda-animation-1.0.min.js" charset="utf-8"
            async=""></script>
    <script src="../static/js/tilda-cover-1.0.min.js" charset="utf-8" async=""></script>
    <script src="../static/js/tilda-events-1.0.min.js" charset="utf-8" async=""></script>
    <script src="../static/js/tilda-menusub-1.0.min.js" charset="utf-8" async=""></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
        var style = document.createElement('style');
        style.type = 'text/css';
        style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
        document.getElementsByTagName('head')[0].appendChild(style);
        $(document).ready(function () {
            $('.t-records').addClass('t-records_animated');
            setTimeout(function () {
                $('.t-records').addClass('t-records_visible');
                sessionStorage.setItem('visited', 'y');
            }, 400);
        });
    }</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" class="t-records"
     data-hook="blocks-collection-content-node" data-tilda-project-id="3924895"
     data-tilda-page-id="18588741"
     data-tilda-formskey="7c9a762c07432a2b2e5daff14104de38"
     data-tilda-lazy="yes">
    <div id="rec300333197" class="r t-rec t-rec_pb_0"
         style="padding-bottom:0px;background-color:#000000; "
         data-animationappear="off" data-record-type="258"
         data-bg-color="#000000"><!-- T229 -->
        <div id="nav300333197marker"></div>
        <div id="nav300333197" class="t229 t229__positionfixed "
             style="background-color: rgba(77,77,77,1); height:50px; "
             data-bgcolor-hex="#4d4d4d" data-bgcolor-rgba="rgba(77,77,77,1)"
             data-navmarker="nav300333197marker" data-appearoffset=""
             data-bgopacity="1"
             data-bgcolor-rgba-afterscroll="rgba(77,77,77,0.70)"
             data-menu="yes">
            <div class="t229__maincontainer " style="height:50px;">
                <div class="t229__padding40px"></div>
                <div class="t229__centerside ">
                    <ul class="uppercase">
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec300404936"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Инструменты</a>
                        </li>
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec300411247"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Данные</a>
                        </li>
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec300296417"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Посещаемость</a>
                        </li>
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec300296418"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Домашнее
                            задание</a></li>
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec300296419"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Удержание</a>
                        </li>
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec300385904"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Конверсия
                            перехода</a></li>
                        <li class="t229__list_item"><a class="t-menu__link-item"
                                                       href="#rec301146457"
                                                       data-menu-submenu-hook=""
                                                       style="color:#5ce1e6;font-size:13px;font-weight:700;font-family:'Arial';text-transform:uppercase;">Распределение</a>
                        </li>
                    </ul>
                </div>
                <div class="t229__padding40px"></div>
            </div>
        </div>
        <script type="text/javascript"> $(document).ready(function () {
            t229_highlight('18588741');
            $('.t229').removeClass('t229__beforeready');
            t229_checkAnchorLinks('300333197');
        }); </script>
        <script type="text/javascript"> $(window).resize(function () {
            t229_setBg('300333197');
        });
        $(window).load(function () {
            t229_setBg('300333197');
        });
        $(document).ready(function () {
            t229_setBg('300333197');
        }); </script>
        <script type="text/javascript"> $(document).ready(function () {
            t229_changeBgOpacityMenu('300333197');
            $(window).bind('scroll', t_throttle(function () {
                t229_changeBgOpacityMenu('300333197')
            }, 200));
        }); </script>
        <style>#rec300333197 .t-menu__link-item {
            -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        #rec300333197 .t-menu__link-item.t-active {
            color: #ffffff !important;
        }

        #rec300333197 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover {
            color: #ffffff !important;
        }

        @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
            #rec300333197 .t-menu__link-item, #rec300333197 .t-menu__link-item.t-active {
                opacity: 1 !important;
            }
        }</style>
        <script type="text/javascript"> $(document).ready(function () {
            setTimeout(function () {
                t_onFuncLoad('t_menusub_init', function () {
                    t_menusub_init('300333197');
                });
            }, 500);
        });</script>
        <style> #rec300333197 .t-menusub__link-item {
            -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        #rec300333197 .t-menusub__link-item:not(.t-active):not(.tooltipstered):hover {
            color: #ffffff !important;
        }

        @supports (overflow:-webkit-marquee) and (justify-content:inherit) {
            #rec300333197 .t-menusub__link-item, #rec300333197 .t-menusub__link-item.t-active {
                opacity: 1 !important;
            }
        }

        @media screen and (max-width: 980px) {
            #rec300333197 .t-menusub__menu .t-menusub__link-item {
                color: #000000 !important;
            }

            #rec300333197 .t-menusub__menu .t-menusub__link-item.t-active {
                color: #000000 !important;
            }
        }</style>
        <!--[if IE 8]>
        <style>#rec300333197 .t229 {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D94d4d4d', endColorstr='#D94d4d4d');
        }</style><![endif]--></div>
    <div id="rec300296416" class="r t-rec" style=" " data-animationappear="off"
         data-record-type="244"><!-- cover -->
        <div class="t-cover" id="recorddiv300296416" bgimgfield="img"
             style="height:100vh; background-image:url('../static/dc997f68-3eb4-4618-af36-0ccf342474a9/-/resize/20x/whiteback.jpg');">
            <div class="t-cover__carrier" id="coverCarry300296416"
                 data-content-cover-id="300296416"
                 data-content-cover-bg="https://static.tildacdn.com/dc997f68-3eb4-4618-af36-0ccf342474a9/whiteback.jpg"
                 data-content-cover-height="100vh"
                 data-content-cover-parallax="fixed"
                 style="height:100vh; "></div>
            <div class="t-cover__filter"
                 style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fe000000', endColorstr='#fe000000');"></div>
            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <div class="t-cover__wrapper t-valign_middle"
                         style="height:100vh;">
                        <div class="t216 t-align_center">
                            <div data-hook-content="covercontent">
                                <div class="t216__wrapper">
                                    <div class="t216__blocklogo"><img
                                            src="../static/tild3864-6636-4436-a532-323764376562/-/empty/noroot.png"
                                            data-original="https://static.tildacdn.com/tild3864-6636-4436-a532-323764376562/noroot.png"
                                            data-tu-max-width="800"
                                            data-tu-max-height="800"
                                            class="t216__logo t-img"
                                            imgfield="img2"
                                            data-hook-clogo="coverlogo"></div>
                                    <div class="t216__descr t-descr t-descr_xl t216__descr_center"
                                         style="" field="descr">
                                        <div style="font-size:20px;line-height:14px;color:#000000;"
                                             data-customstyle="yes"></div>
                                    </div>
                                    <span class="space"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- arrow -->
            <div class="t-cover__arrow">
                <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                    <div class="t-cover__arrow_mobile">
                        <svg class="t-cover__arrow-svg" style="fill:#000000;"
                             x="0px" y="0px" width="38.417px" height="18.592px"
                             viewbox="0 0 38.417 18.592"
                             style="enable-background:new 0 0 38.417 18.592;">
                            <g>
                                <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </div> <!-- arrow --> </div>
    </div>
    <div id="rec300404936" class="r t-rec t-rec_pt_120 t-rec_pb_60"
         style="padding-top:120px;padding-bottom:60px;background-color:#ffffff; "
         data-record-type="490" data-bg-color="#ffffff"><!-- t490 -->
        <div class="t490">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs"
                             field="btitle">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Инструменты
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t490__col t-col t-col_4 t-align_center t-item"><img
                        src="../static/tild3063-6566-4764-b263-633339643138/-/empty/image.png"
                        data-original="https://static.tildacdn.com/tild3063-6566-4764-b263-633339643138/image.png"
                        class="t490__img t-img"
                        imgfield="li_img__1476968690512">
                    <div class="t490__wrappercenter ">
                        <div class="t-heading t-heading_md" style=""
                             field="li_title__1476968690512">
                            <div style="font-family:'Arial';color:#5ce1e6;"
                                 data-customstyle="yes">Colab
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t490__col t-col t-col_4 t-align_center t-item"><img
                        src="../static/tild6637-6532-4334-b535-363731373361/-/empty/image.png"
                        data-original="https://static.tildacdn.com/tild6637-6532-4334-b535-363731373361/image.png"
                        class="t490__img t-img"
                        imgfield="li_img__1476968700508">
                    <div class="t490__wrappercenter ">
                        <div class="t-heading t-heading_md" style=""
                             field="li_title__1476968700508">
                            <div style="font-family:'Arial';color:#5ce1e6;"
                                 data-customstyle="yes">Github
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t490__col t-col t-col_4 t-align_center t-item"><img
                        src="../static/tild3461-6464-4263-b839-316136666639/-/empty/image.png"
                        data-original="https://static.tildacdn.com/tild3461-6464-4263-b839-316136666639/image.png"
                        class="t490__img t-img"
                        imgfield="li_img__1476968722790">
                    <div class="t490__wrappercenter ">
                        <div class="t-heading t-heading_md" style=""
                             field="li_title__1476968722790">
                            <div style="font-family:'Arial';color:#5ce1e6;"
                                 data-customstyle="yes">Data Studio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec300411247" class="r t-rec t-rec_pt_105 t-rec_pb_30"
         style="padding-top:105px;padding-bottom:30px;background-color:#fafafa; "
         data-record-type="30" data-bg-color="#fafafa"><!-- T015 -->
        <div class="t015">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t015__title t-title t-title_lg" field="title"
                         style="">
                        <div style="font-size:42px;font-family:'Arial';color:#4d4d4d;"
                             data-customstyle="yes">Данные
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec300409311" class="r t-rec t-rec_pt_30 t-rec_pb_120"
         style="padding-top:30px;padding-bottom:120px;background-color:#fafafa; "
         data-record-type="431" data-bg-color="#fafafa"><!-- t431 -->
        <div class="t431">
            <div class="t-container">
                <div class="t-col t-col_10 t-prefix_1 t431__tdscale_1 t-text t-text_sm t-align_left t431__mobilescroll">
                    <div class="t431__wrapper-for-mobile">
                        <div class="t431__table-wrapper"
                             data-auto-correct-mobile-width="false">
                            <table class="t431__table "
                                   data-table-width="20%;20%;20%;20%;20%"
                                   width="100%"></table>
                        </div>
                    </div>
                    <div class="t431__data-part1"
                         data-auto-correct-mobile-width="false"
                         style="display: none">lessonTest1_score;lessonWebinar2_visit;lesson3_visit;lesson3_progress;lessonTest4_score;</div>
                    <div class="t431__data-part2"
                         data-auto-correct-mobile-width="false"
                         style="display: none">3;1;1;7;26
                        73;1;1;93;85
                        67;0;1;37;52
                        3;1;0;6;20
                        50;1;0;64;32
                        90;1;1;93;84
                        19;0;1;24;6
                        32;1;1;40;56</div>
                </div>
            </div>
        </div>
        <style>#rec300409311 .t431 .t431__th {
            border-width: 0px 0px 1px 0px;
            background: #4d4d4d;
            border-color: #000000;
            color: #5ce1e6;
        }

        #rec300409311 .t431 .t431__tbody tr:nth-child(1) td {
            border-top: 0 !important;
        }

        #rec300409311 .t431 .t431__td {
            border-width: 1px 0px;
            vertical-align: top;
            border-color: #4d4d4d;
            color: #4d4d4d;
            font-family: 'Arial';
        }

        #rec300409311 .t431 .t431__oddrow {
            background: #ffffff
        }

        #rec300409311 .t431 .t431__evenrow {
            background: #fafafa
        }

        #rec300409311 .t431 .t431__btnwrapper a {
            color: #ffffff;
            border: 0px solid #000000;
            background-color: #000000;
            border-radius: 21px;
            -moz-border-radius: 21px;
            -webkit-border-radius: 21px;
        }</style>
        <script>$(document).ready(function () {
            t431_init(300409311);
        });</script>
    </div>
    <div id="rec300296417" class="r t-rec t-rec_pt_75 t-rec_pb_75"
         style="padding-top:75px;padding-bottom:75px;background-color:#ffffff; "
         data-record-type="180" data-bg-color="#ffffff"><!-- T165 -->
        <div class="t165">
            <div class="t-container">
                <div class="t165__col-top t-col t-col_4 t-prefix_2 t165__vmiddle t165__left">
                    <img src="../static/454c8fe8-5135-4a85-9bd6-666e0cbf9e14/-/empty/11.png"
                         data-original="https://static.tildacdn.com/454c8fe8-5135-4a85-9bd6-666e0cbf9e14/11.png"
                         imgfiled="img" class="t165__img t-img"></div>
                <div class="t-col t-col_4 t165__vmiddle t165__left">
                    <div class="t165__textwrapper">
                        <div class="t165__uptitle t-uptitle t-uptitle_sm"
                             style="color:#4d4d4d;" field="subtitle">
                            <div style="font-size:18px;" data-customstyle="yes">
                                fgdfg
                            </div>
                        </div>
                        <div class="t165__title t-heading t-heading_md"
                             style="color:#4d4d4d;" field="title">
                            <div style="font-family:'Arial';"
                                 data-customstyle="yes">Посещаемость
                            </div>
                        </div>
                        <div class="t165__text t-text t-text_sm"
                             style="color:#4d4d4d;" field="text">
                            <div style="font-family:'Arial';"
                                 data-customstyle="yes">
                                <ul>
                                    <li>Отношение суммы явок на все уроки к
                                        количеству возможных.
                                    </li>
                                    <li>Выбросов нет, т.к. явка может принимать
                                        значения 0 или 1.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec300296418" class="r t-rec t-rec_pt_75 t-rec_pb_90"
         style="padding-top:75px;padding-bottom:90px;background-color:#fafafa; "
         data-record-type="180" data-bg-color="#fafafa"><!-- T165 -->
        <div class="t165">
            <div class="t-container">
                <div class="t165__col-top t-col t-col_4 t-prefix_2 t165__vmiddle t165__left">
                    <div class="t165__textwrapper">
                        <div class="t165__uptitle t-uptitle t-uptitle_sm"
                             style="" field="subtitle">
                            <div style="font-size:18px;color:#4d4d4d;"
                                 data-customstyle="yes">jvjvkk
                            </div>
                        </div>
                        <div class="t165__title t-heading t-heading_md" style=""
                             field="title">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Домашнее задание
                            </div>
                        </div>
                        <div class="t165__text t-text t-text_sm" style=""
                             field="text">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">
                                <ul>
                                    <li>Среднее значение медиан прогрессов за
                                        каждый урок.
                                    </li>
                                    <li>Выбросы компенсируются значением
                                        медианы.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col t-col_4 t165__vmiddle t165__left"><img
                        src="../static/346d3e9a-dcd2-49a6-bda6-3d7e0e306c19/-/empty/222.png"
                        data-original="https://static.tildacdn.com/346d3e9a-dcd2-49a6-bda6-3d7e0e306c19/222.png"
                        imgfiled="img" class="t165__img t-img"></div>
            </div>
        </div>
    </div>
    <div id="rec300296419" class="r t-rec t-rec_pt_75 t-rec_pb_90"
         style="padding-top:75px;padding-bottom:90px;background-color:#ffffff; "
         data-record-type="180" data-bg-color="#ffffff"><!-- T165 -->
        <div class="t165">
            <div class="t-container">
                <div class="t165__col-top t-col t-col_4 t-prefix_2 t165__vmiddle t165__left">
                    <img src="../static/e1705d72-30af-44bb-a2d1-32a950b06890/-/empty/32.png"
                         data-original="https://static.tildacdn.com/e1705d72-30af-44bb-a2d1-32a950b06890/32.png"
                         imgfiled="img" class="t165__img t-img"></div>
                <div class="t-col t-col_4 t165__vmiddle t165__left">
                    <div class="t165__textwrapper">
                        <div class="t165__uptitle t-uptitle t-uptitle_sm"
                             style="" field="subtitle">
                            <div style="font-size:18px;color:#4d4d4d;"
                                 data-customstyle="yes">иаптптн
                            </div>
                        </div>
                        <div class="t165__title t-heading t-heading_md" style=""
                             field="title">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Удержание
                            </div>
                        </div>
                        <div class="t165__text t-text t-text_sm" style=""
                             field="text">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">
                                <ul>
                                    <li>Зависит от средней посещаемости ученика,
                                        возможного прогресса и количества дней
                                        от последней активности.
                                    </li>
                                    <li>Значения удержания варьируются от 0 до
                                        100.
                                    </li>
                                    <li>При непосещении уроков или невыполнении
                                        заданий удержание зануляется.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec300385904" class="r t-rec t-rec_pt_75 t-rec_pb_90"
         style="padding-top:75px;padding-bottom:90px;background-color:#fafafa; "
         data-record-type="180" data-bg-color="#fafafa"><!-- T165 -->
        <div class="t165">
            <div class="t-container">
                <div class="t165__col-top t-col t-col_4 t-prefix_2 t165__vmiddle t165__left">
                    <div class="t165__textwrapper">
                        <div class="t165__uptitle t-uptitle t-uptitle_sm"
                             style="" field="subtitle">
                            <div style="font-size:18px;color:#4d4d4d;"
                                 data-customstyle="yes">тоеьнгьнг
                            </div>
                        </div>
                        <div class="t165__title t-heading t-heading_md" style=""
                             field="title">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Конверсия перехода
                            </div>
                        </div>
                        <div class="t165__text t-text t-text_sm" style=""
                             field="text">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">
                                <ul>
                                    <li>Для двух курсов - отношение разности
                                        занятых мест в курсах и количества
                                        учеников в курсах к количеству учеников
                                        в целевом курсе.
                                    </li>
                                    <li>Применима к двум курсам.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col t-col_4 t165__vmiddle t165__left"><img
                        src="../static/346d3e9a-dcd2-49a6-bda6-3d7e0e306c19/-/empty/222.png"
                        data-original="https://static.tildacdn.com/346d3e9a-dcd2-49a6-bda6-3d7e0e306c19/222.png"
                        imgfiled="img" class="t165__img t-img"></div>
            </div>
        </div>
    </div>
    <div id="rec301146457" class="r t-rec t-rec_pt_150 t-rec_pb_150"
         style="padding-top:150px;padding-bottom:150px;background-color:#ffffff; "
         data-record-type="517" data-bg-color="#ffffff"><!-- T517 -->
        <div class="t517">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs"
                             field="btitle">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Распределение учеников
                            </div>
                        </div>
                        <div class="t-section__descr t-descr t-descr_xl t-margin_auto"
                             field="bdescr">Tuesday, March 14
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t517__row ">
                    <div class="t517__col t-col t-col_4">
                        <div class="t517__innercol"
                             style="background-color:#fafafa; ">
                            <div class="t517__col-wrapper">
                                <div class="t517__sectioninfowrapper">
                                    <div class="t-name t-name_sm t517__bottommargin"
                                         style=""
                                         field="li_time__1477264508360">
                                        08:00–09:00
                                    </div>
                                    <div class="t-name t-name_lg t517__bottommargin"
                                         style=""
                                         field="li_title__1477264508360">
                                        Experiential graphic design
                                    </div>
                                    <div class="t-text t-text_sm" style=""
                                         field="li_text__1477264508360">
                                        Experiential graphic design is the
                                        application of communication skills to
                                        the built environment.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t517__col t-col t-col_4">
                        <div class="t517__innercol"
                             style="background-color:#fafafa; ">
                            <div class="t517__col-wrapper">
                                <div class="t517__sectioninfowrapper">
                                    <div class="t-name t-name_sm t517__bottommargin"
                                         style=""
                                         field="li_time__1477264516069">
                                        <div style="font-family:'Arial';color:#4d4d4d;"
                                             data-customstyle="yes">KMeans
                                        </div>
                                    </div>
                                    <div class="t-name t-name_lg t517__bottommargin"
                                         style=""
                                         field="li_title__1477264516069">
                                        <div style="font-family:'Arial';color:#4d4d4d;"
                                             data-customstyle="yes">Алгоритм
                                            кластеризации
                                        </div>
                                    </div>
                                    <div class="t-text t-text_sm" style=""
                                         field="li_text__1477264516069">
                                        <div style="font-family:'Arial';color:#4d4d4d;"
                                             data-customstyle="yes">Во избежание
                                            ошибок в расчете уровня ученика
                                            создана модель кластеризации,
                                            делающая вывод на основе средних
                                            показателей.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t517__col t-col t-col_4">
                        <div class="t517__innercol"
                             style="background-color:#fafafa; ">
                            <div class="t517__col-wrapper">
                                <div class="t517__sectioninfowrapper">
                                    <div class="t-name t-name_sm t517__bottommargin"
                                         style=""
                                         field="li_time__1477265741974">
                                        14:30–15:30
                                    </div>
                                    <div class="t-name t-name_lg t517__bottommargin"
                                         style=""
                                         field="li_title__1477265741974">
                                        Self-development in design and
                                        revolutions in the minds of the early
                                        20s
                                    </div>
                                    <div class="t-text t-text_sm" style=""
                                         field="li_text__1477265741974">How to
                                        be a graphic designer without losing
                                        your soul.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript"> $(document).ready(function () {
            t517_unifyHeights('301146457');
        });
        var t517__doResize;
        $(window).resize(function () {
            clearTimeout(t517__doResize);
            t517__doResize = setTimeout(function () {
                t517_unifyHeights('301146457');
            }, 200);
        });
        $(window).load(function () {
            t517_unifyHeights('301146457');
        });
        $('.t517').bind('displayChanged', function () {
            t517_unifyHeights('301146457');
        });</script>
    </div>
    <div id="rec300385764" class="r t-rec t-rec_pt_150 t-rec_pb_150"
         style="padding-top:150px;padding-bottom:150px;background-color:#fafafa; "
         data-record-type="539" data-bg-color="#fafafa"><!-- t539 -->
        <div class="t539" style="visibility: hidden;">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs"
                             field="btitle">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Те самые первые
                            </div>
                        </div>
                        <div class="t-section__descr t-descr t-descr_xl t-margin_auto"
                             field="bdescr">
                            <div style="font-family:'Arial';color:#5ce1e6;"
                                 data-customstyle="yes">Лучшая команда каждый
                                день ждет приглашение на работу в GEEKZ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__container t-container">
                <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd">
                    <div class="t539__itemwrapper t539__itemwrapper_3">
                        <div class="t539__bgimg t-bgimg"
                             bgimgfield="li_img__1478185125761"
                             data-original="https://static.tildacdn.com/tild3265-3633-4163-b733-366333393134/noroot.png"
                             style="background-image: url('../static/tild3265-3633-4163-b733-366333393134/-/resizeb/20x/noroot.png');"
                             data-image-width="360"
                             data-image-height="360"></div>
                        <div class="t539__textwrapper t539__textwr-padding t-align_left">
                            <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                                 style="" field="li_persname__1478185125761">
                                <div style="font-family:'Arial';"
                                     data-customstyle="yes">Данил
                                </div>
                            </div>
                            <div class="t539__persdescr t-descr t-descr_xxs "
                                 style="" field="li_persdescr__1478185125761">
                                <div style="font-family:'Arial';"
                                     data-customstyle="yes">Аналитик<br>Сайт,
                                    метрики, ML
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_even">
                    <div class="t539__itemwrapper t539__itemwrapper_3">
                        <div class="t539__bgimg t-bgimg"
                             bgimgfield="li_img__1478185134628"
                             data-original="https://static.tildacdn.com/tild6230-6330-4534-a433-393066633137/IMG_20210405_201949_.jpg"
                             style="background-image: url('../static/tild6230-6330-4534-a433-393066633137/-/resizeb/20x/IMG_20210405_201949_.jpg');"
                             data-image-width="360"
                             data-image-height="360"></div>
                        <div class="t539__textwrapper t539__textwr-padding t-align_left">
                            <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                                 style="" field="li_persname__1478185134628">
                                <div style="font-family:'Arial';"
                                     data-customstyle="yes">Виктор
                                </div>
                            </div>
                            <div class="t539__persdescr t-descr t-descr_xxs "
                                 style="" field="li_persdescr__1478185134628">
                                <div style="font-family:'Arial';"
                                     data-customstyle="yes">Менеджер<br>Дашборды,
                                    лейбл, стиль
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd">
                    <div class="t539__itemwrapper t539__itemwrapper_3">
                        <div class="t539__bgimg t-bgimg"
                             bgimgfield="li_img__1478185141888"
                             data-original="https://static.tildacdn.com/tild3863-6336-4434-b532-626364303634/IMG_20210405_201938_.JPG"
                             style="background-image: url('../static/tild3863-6336-4434-b532-626364303634/-/resizeb/20x/IMG_20210405_201938_.JPG');"
                             data-image-width="360"
                             data-image-height="360"></div>
                        <div class="t539__textwrapper t539__textwr-padding t-align_left">
                            <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                                 style="" field="li_persname__1478185141888">
                                <div style="font-family:'Arial';"
                                     data-customstyle="yes">Дмитрий
                                </div>
                            </div>
                            <div class="t539__persdescr t-descr t-descr_xxs "
                                 style="" field="li_persdescr__1478185141888">
                                <div style="font-family:'Arial';"
                                     data-customstyle="yes">Программист<br>Таблицы,
                                    Back-end, API
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript"> $(document).ready(function () {
            t539_equalHeight('300385764', '3');
        });
        $(window).resize(function () {
            var t539_doResize = $('#rec300385764').data('resize-timeout');
            if (t539_doResize) {
                clearTimeout(t539_doResize)
            }
            ;t539_doResize = setTimeout(function () {
                t539_equalHeight('300385764', '3');
            }, 500);
            $('#rec300385764').data('resize-timeout', t539_doResize);
        });
        $('.t539').bind('displayChanged', function () {
            t539_equalHeight('300385764', '3');
        });</script>
        <script type="text/javascript"> $(document).ready(function () {
            t539_setHeight('300385764');
        });</script>
    </div>
    <div id="rec300400343" class="r t-rec t-rec_pt_150 t-rec_pb_150"
         style="padding-top:150px;padding-bottom:150px; "
         data-record-type="493"><!-- t493 -->
        <div class="t493">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs"
                             field="btitle">
                            <div style="font-family:'Arial';color:#4d4d4d;"
                                 data-customstyle="yes">Никогда так НТИ не
                                решали
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t493__container t-container">
                <div class="t493__flex-wrapper">
                    <div class="t493__box-img-mobile t-col">
                        <div class="t493__tablewrapper">
                            <div class="t493__cell t-cell"><img
                                    class="t493__img t-margin_auto t-img"
                                    src="../static/tild3638-3936-4164-a330-323266623433/-/empty/image.png"
                                    data-original="https://static.tildacdn.com/tild3638-3936-4164-a330-323266623433/image.png"
                                    imgfiled="img5"></div>
                        </div>
                    </div>
                    <div class="t493__box-text t-col t-col_flex t-valign_middle t-col_6 ">
                        <div class="t493__tablewrapper">
                            <div class="t493__cell t-cell">
                                <div class="t493__item t-item">
                                    <div class="t-cell t-valign_top">
                                        <div class="t493__bgimg t-bgimg"
                                             bgimgfield="img"
                                             data-original="https://static.tildacdn.com/lib/linea/28f862b7-5d1e-390e-d7ca-d85f0a733d4a/basic_world.svg"
                                             style=" background-image: url('../static/lib/linea/28f862b7-5d1e-390e-d7ca-d85f0a733d4a/basic_world.svg');"></div>
                                    </div>
                                    <div class="t493__textwrapper t-cell t-valign_top">
                                        <div class="t493__heading t-heading t-heading_sm "
                                             style="" field="title">
                                            <div style="font-family:'Arial';color:#5ce1e6;"
                                                 data-customstyle="yes">Машинное
                                                обучение
                                            </div>
                                        </div>
                                        <div class="t493__descr t-descr t-descr_xs "
                                             style="" field="descr">
                                            <div style="font-family:'Arial';"
                                                 data-customstyle="yes">Прогноз
                                                ухода клиентов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t493__item t493__item_padding-top t-item">
                                    <div class="t-cell t-valign_top">
                                        <div class="t493__bgimg t-bgimg"
                                             bgimgfield="img2"
                                             data-original="https://static.tildacdn.com/lib/linea/4aeea8a4-1013-bfc8-ffc9-170e8a9f2d4b/weather_last_quarter.svg"
                                             style=" background-image: url('../static/lib/linea/4aeea8a4-1013-bfc8-ffc9-170e8a9f2d4b/weather_last_quarter.svg');"></div>
                                    </div>
                                    <div class="t493__textwrapper t-cell t-valign_top">
                                        <div class="t493__heading t-heading t-heading_sm "
                                             style="" field="title2">
                                            <div style="font-family:'Arial';color:#5ce1e6;"
                                                 data-customstyle="yes">
                                                Интерактивные графики
                                            </div>
                                        </div>
                                        <div class="t493__descr t-descr t-descr_xs "
                                             style="" field="descr2">
                                            <div style="font-family:'Arial';"
                                                 data-customstyle="yes">
                                                Информация про любую точку
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t493__item t493__item_padding-top t-item">
                                    <div class="t-cell t-valign_top">
                                        <div class="t493__bgimg t-bgimg"
                                             bgimgfield="img3"
                                             data-original="https://static.tildacdn.com/lib/linea/416f1db8-1835-5a77-c9ed-df0c6db3f091/music_record.svg"
                                             style=" background-image: url('../static/lib/linea/416f1db8-1835-5a77-c9ed-df0c6db3f091/music_record.svg');"></div>
                                    </div>
                                    <div class="t493__textwrapper t-cell t-valign_top">
                                        <div class="t493__heading t-heading t-heading_sm "
                                             style="" field="title3">
                                            <div style="font-family:'Arial';color:#5ce1e6;"
                                                 data-customstyle="yes">Удобный
                                                сайт
                                            </div>
                                        </div>
                                        <div class="t493__descr t-descr t-descr_xs "
                                             style="" field="descr3">
                                            <div style="font-family:'Arial';"
                                                 data-customstyle="yes">Вся
                                                нужная информация здесь
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t493__box-img t-col t-col_flex t-valign_middle t-col_6 ">
                        <div class="t493__tablewrapper">
                            <div class="t493__cell t-cell"><img
                                    class="t493__img t-img"
                                    src="../static/tild3638-3936-4164-a330-323266623433/-/empty/image.png"
                                    data-original="https://static.tildacdn.com/tild3638-3936-4164-a330-323266623433/image.png"
                                    imgfield="img5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="3924895#18588741"><a
        href="../static/ru/index.htm?upm=3924895" class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="../static/img/tildacopy.png"
                                                class="t-tildalabel__img"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
(function (d, w, k, o, g) {
    var n = d.getElementsByTagName(o)[0], s = d.createElement(o),
        f = function () {
            n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.key = k;
    s.id = "tildastatscript";
    s.src = g;
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, 'd9f2406d1e0581d646ecad851ab2255a', 'script', 'https://static.tildacdn.com/js/tildastat-0.2.min.js');</script>
</body>
</html>